@model AplicacionTickets.Models.Artista

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estas seguro de deseas borrar este Artista?</h3>
<fieldset>
    <legend>@Html.DisplayNameFor(model => model.Nombre)</legend>

    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Genero)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Genero)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tipo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Volver", "Index")
    </p>
}
