@model AplicacionTickets.Models.Artista

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<fieldset>
    <legend>@Html.DisplayFor(model => model.Nombre)</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Genero)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Genero)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tipo)
    </div>


    <p>Espectaculos</p>
    <ul>
    @foreach (var item in Model.Espectaculos)
    {
        <li>@Html.ActionLink("Titulo: " + item.Titulo + ", Lugar: " + item.Lugar.Nombre, "Details", "Espectaculo", new { id = item.EspectaculoId }, null)</li>
    }    
    </ul>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.ArtistaId }) |
    @Html.ActionLink("Volver", "Index")
</p>
